<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Roza</title>

    <!-- Icons font CSS-->
    <link href="http://8upload.ir/uploads/f47729066.css" rel="stylesheet" media="all">
    <link href="http://8upload.ir/uploads/f20256239.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="http://8upload.ir/uploads/f410637719.css" rel="stylesheet" media="all">
    <link href="http://8upload.ir/uploads/f95196141.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="http://8upload.ir/uploads/f424739903.css" rel="stylesheet" media="all">
</head>

<body>
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form th:action="@{/kids/reg}" method="POST">
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Name" name="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Last Name" name="lastName">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="National Id" name="nationalId">
                    </div>

                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="age (سن را به صورت عدد انگلیسی وارد کنید)" name="age">
                    </div>

                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="parent" >
                                <option th:each="Parent : ${parent}"
                                th:text="${Parent.fatherLastName}"
                                th:value="${Parent.nationalId}"></option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>



                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="roles" >
                                <option th:each="roles : ${T(ir.reedbees.rozakindergarten.enums.Roles).values()}"
                                th:text="${roles}"
                                th:value="${roles}"></option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>





                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="http://8upload.ir/uploads/f972320670.js"></script>
<!-- Vendor JS-->
<script src="http://8upload.ir/uploads/f15677479.js"></script>
<script src="http://8upload.ir/uploads/f78502494.js"></script>
<script src="http://8upload.ir/uploads/f23222933.js"></script>

<!-- Main JS-->
<script src="http://8upload.ir/uploads/f724927129.js"></script>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->