<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Site made with Mobirise Website Builder v4.11.6, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.11.6, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/roza-logo-122x122.jpg" type="image/x-icon">
    <meta name="description" content="Web Site Maker Description">

    <title>Roza</title>
    <link rel="stylesheet" href="http://8upload.ir/uploads/f95249623.css">
    <link rel="stylesheet" href="http://8upload.ir/uploads/f542429282.css">
    <link rel="stylesheet" href="http://8upload.ir/uploads/f343266986.css">
    <link rel="stylesheet" href="http://8upload.ir/uploads/f0083764.css">
    <link rel="stylesheet" href="http://8upload.ir/uploads/f743439434.css">
    <link rel="stylesheet" href="http://8upload.ir/uploads/f673519.css">
    <link rel="stylesheet" href="http://8upload.ir/uploads/f93959349.css">
    <link rel="stylesheet" href="http://8upload.ir/uploads/f93043652.css">
    <link rel="preload" as="style" href="http://8upload.ir/uploads/f9583012.css">
    <link rel="stylesheet" href="http://8upload.ir/uploads/f747441881.css" type="text/css">



</head>

<body>
<section class="menu cid-rNIUgvGc5L" once="menu" id="menu1-5">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                    <span class="navbar-logo">
                    <a href="https://mobirise.co">
                         <img src="http://8upload.ir/uploads/f72140932.jpg" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="index">Roza kindergarten</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">

                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="contact" >
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn">تماس با ما</span></a>
                </li>
            </ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="index">بازکشت به خانه&nbsp;</a></div>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" th:href="@{/logout}">خروج&nbsp;</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.info/p">web templates free download</a></section>
<section class="testimonials5 cid-rNJbWDzBtz" id="testimonials5-p">



    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(193, 193, 193);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">به صفحه مدیریت کودک خود خوش آمدید</h2>
                <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5"></h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="media-container-column">



            <div class="mbr-testimonial align-center col-12 col-md-10">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="http://8upload.ir/uploads/f72140932.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style mbr-white display-7"></p>
                    </div>
                    <div class="card-footer" th:each="Kids : ${kids}">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style mbr-white display-7">

                            <p th:text="${Kids.name}"></p>

<!--                            <p th:text="${Kids.payments.str().getDays()}"></p>-->
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style mbr-white display-7">
                            <p th:text="${Kids.lastName}"></p></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features8 cid-rNIXRUEDGJ mbr-parallax-background" id="features8-d">



    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">

            <div class="card  col-12 col-md-6 col-lg-4">
                <!-- <div class="card-img">
                <span class="mbri-desktop mbr-iconfont"></span>
            </div> -->
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        تمامی پرداخت ها رو انلاین انجام دهید</h4>
                    <p class="mbr-text mbr-fonts-style display-7">شما میتوانید با استفاده از پنل مدیریت خود تمامی پرداخت ها مربوط به کلاس ها کودک را از این قسمت انحام دهید</p>

                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-4">
                <!-- <div class="card-img">
                <span class="mbri-touch mbr-iconfont"></span>
            </div> -->
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">جایزه بگیرید</h4>
                    <p class="mbr-text mbr-fonts-style display-7">با پرداخت های به موقع و یا پرداخت چند ماه به صورت یکجا از تخفیف های مهد رزا برخوردار شوید</p>

                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-4">
                <!-- <div class="card-img">
                <span class="mbri-responsive mbr-iconfont"></span>
            </div> -->
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        هم موبایل هم کامپیوتر</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        شما میتوانید از وبسایت پرداخت رزا هم با استفاده از موبایل هم با استفاده از کامپیوتر پرداخت های خود را انجام دهید</p>

                </div>
            </div>


        </div>
    </div>
</section>

<section class="section-table cid-rNIVv0fd6O" id="table1-b">



    <div class="container container-table">
        <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">لیست اخرین پرداخت های شما</h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5"></h3>
        <div class="table-wrapper">
            <div class="container">
                <div class="row search">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="dataTables_filter">
                            <label class="searchInfo mbr-fonts-style display-7">Search:</label>
                            <input class="form-control input-sm" disabled="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container scroll">
                <table class="table isSearch" cellspacing="0">
                    <thead>
                    <tr class="table-heads ">




                        <th class="head-item mbr-fonts-style display-7">
                            اسم</th>
                        <th class="head-item mbr-fonts-style display-7">
                            زمان پرداخت</th>
                        <th class="head-item mbr-fonts-style display-7">
                            زمان اتمام اعتبار</th>
                        <th class="head-item mbr-fonts-style display-7">
                            میزان</th>
                    </tr>
                    </thead>

                    <tbody>




                    <tr th:each="Payment : ${payment}">




                        <td class="body-item mbr-fonts-style display-7" th:text="${Payment.kids.lastName}"></td>
                        <td class="body-item mbr-fonts-style display-7"th:text="${Payment.date}"></td>
                        <td class="body-item mbr-fonts-style display-7"th:text="${Payment.days}"></td>
                        <td class="body-item mbr-fonts-style display-7"th:text="${Payment.amount}"></td>
                    </tr>


                    </tbody>
                </table>
            </div>
            <div class="container table-info-container">
                <div class="row info">
                    <div class="col-md-6">
                        <div class="dataTables_info mbr-fonts-style display-7">
                            <span class="infoBefore">Showing</span>
                            <span class="inactive infoRows"></span>
                            <span class="infoAfter">entries</span>
                            <span class="infoFilteredBefore">(filtered from</span>
                            <span class="inactive infoRows"></span>
                            <span class="infoFilteredAfter"> total entries)</span>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="countdown1 cid-rNIVa4thar" id="countdown1-9">



    <div class="container ">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            مدت زمان باقی مانده از اعتبار اخرین پرداخت شما</h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5"></h3>

    </div>
    <div class="container countdown-cont align-center" th:each="DayCounter : ${dayCounter}">
<!--        <div class="countdown pt-5 mt-2" th:data-due-date="${Kids.payments.str().getDays()}">-->
            <div class="countdown pt-5 mt-2" th:text="${DayCounter.dayBetween }"  >
        </div>
        <p>روز</p>
    </div>
</section>

<section class="pricing-table1 cid-rNIV4sWgtI" id="pricing-tables1-8">












    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        یک ماه اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                              ده میلیون </span>
                        <small class="price-term mbr-fonts-style display-7">
                            تا ساعت ۱۲
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                در این اشتراک کودک شما از ۸ صبح الی ۱۲ ظهر میتواند حضور داشته باشد
                            </li>
                            <li class="list-group-item">
                                فقط صبحانه
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="pay1" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        یک ماه اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            دوازده میلیون </span>
                        <small class="price-term mbr-fonts-style display-7">
                            تا ساعت ۲
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                در این اشتراک کودک از ۸ صبح تا ۲ بعد از ظهر حضور دارد
                            </li>
                            <li class="list-group-item">
                                صبحانه و ناهار
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        یک ماه اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            چهارده میلیون</span>
                        <small class="price-term mbr-fonts-style display-7">
                            تا ساعت ۴.۵
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                در این اشتراک کودک از ۸ صبح تا ۴.۵ عصر در مهد حضور دارد
                            </li>
                            <li class="list-group-item">
                                صبحانه و ناهار
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>



            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        سه ماهه
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            بیست و نه میلیون</span>
                        <small class="price-term mbr-fonts-style display-7">
                            تاساعت۱۲
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                با پرداخت ۳ ماه در جا از ۳ درصد تخفیف بهره مند شوید
                            </li>
                            <li class="list-group-item">
                                فقط صبحانه
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="pay2" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="pricing-table1 cid-rNIV4sWgtI" id="pricing-tables1-8">




    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        شش ماه اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                              پنجاه‌و‌شش‌میلیون‌ </span>
                        <small class="price-term mbr-fonts-style display-7">
                            تا ساعت ۱۲
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                شش ماه را یکجا پرداخت کنید و چهارصد هزار تومن تخفیف بگیرید
                            </li>
                            <li class="list-group-item">
                                فقط صبحانه
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="pay3" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        یک سال اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            صدوده میلیون </span>
                        <small class="price-term mbr-fonts-style display-7">
                            تا ساعت ۱۲
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                با پرداخت یک سال درجا یک ماه اشتراک رایگان دریافت کنید به جای دوازده میلیون یازده میلیون پرداخت کنید
                            </li>
                            <li class="list-group-item">
                                فقط صبحانه
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="/pay4" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        سه‌ماهه
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            سیو‌چهار میلیون</span>
                        <small class="price-term mbr-fonts-style display-7">
                            تا ساعت۲
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                سه ماه را یکجا پرداخت کنید تا ۱۰۰ تومان کمتر پرداخت کنید
                            </li>
                            <li class="list-group-item">
                                صبحانه و ناهار
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="feedback" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>



            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        شش ماهه
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            شصت‌ و شش‌میلیون</span>
                        <small class="price-term mbr-fonts-style display-7">
                            تاساعت۲
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                با پرداخت ۶ ماه شش صد هزار تومن تخفیف دریافت کنید
                            </li>
                            <li class="list-group-item">
                                صبحانه و ناهار
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-table1 cid-rNIV4sWgtI" id="pricing-tables1-8">




    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        یک سال اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                              صد‌و‌سی‌ودو‌میلیون </span>
                        <small class="price-term mbr-fonts-style display-7">
                            ساعت۲
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                یک سال را یکجا پرداخت کنید و یک ماه رایگان داشته باشید یعنی یک میلیون و دویست کمتر
                            </li>
                            <li class="list-group-item">
                                صبحانه و ناهار
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        سه ماه اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            چهل میلیون </span>
                        <small class="price-term mbr-fonts-style display-7">
                            تا ساعت ۴.۵
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                با پرداخت سه ماه در جا میتوانید دویست هزار تومن تخفیف دریافت کنید
                            </li>
                            <li class="list-group-item">
                                صبحانه و ناهار
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        شش ماه اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            هفتادو هشت میلیون</span>
                        <small class="price-term mbr-fonts-style display-7">
                            تاساعت ۴.۵
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                شش ماه رو یکجا پرداخت کنید و شش صد هزار تومان تخفیف دریافت کنید
                            </li>
                            <li class="list-group-item">
                                صبحانه و ناهار
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>



            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        یک سال اشتراک
                    </h3>
                    <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                            ریال
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            صد‌وپنجاه وچهار میلیون ریال</span>
                        <small class="price-term mbr-fonts-style display-7">
                            تا ساعت۴.۵
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                با پرداخت یک سال از یک ماه اشتراک رایگان لذت ببرید
                            </li>
                            <li class="list-group-item">
                                صبحانه و ناهار
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">همین الان تمدید کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="http://8upload.ir/uploads/f19032061.js"></script>
<script src="http://8upload.ir/uploads/f800877470.js"></script>
<script src="http://8upload.ir/uploads/f76066222.js"></script>
<script src="http://8upload.ir/uploads/f98352632.js"></script>
<script src="http://8upload.ir/uploads/f809032.js"></script>
<script src="http://8upload.ir/uploads/f4014547.js"></script>
<script src="http://8upload.ir/uploads/f8292750.js"></script>
<script src="http://8upload.ir/uploads/f465540477.js"></script>
<script src="http://8upload.ir/uploads/f135685273.js"></script>
<script src="http://8upload.ir/uploads/f160167148.js"></script>
<script src="http://8upload.ir/uploads/f083820067.js"></script>
<script src="http://8upload.ir/uploads/f761146146.js"></script>
<script src="http://8upload.ir/uploads/f743325645.js"></script>


</body>

</html>